// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-container {
    text-align: center;
    max-width: 60%;
    margin: auto;
    background-color: lightblue;
    height: 60vh;
  }

  .form-basic {
    max-width: 40%;
    
    padding: 20px;
    margin: auto;
    background-color: lightgray;
  }
  
  .form-input {
    font-size: 20px;
    margin: 20px 0;
    color: blue
  }